---
import Logo from "../generics/Logo.astro";
import { BASEPATH } from "../../assets/js/envir";

const basePath = BASEPATH();
---
<footer class="text-base-content ">
    <div class="footer footer-center p-10 bg-blue-950 text-white">

        <!-- Socials -->
<!--         <nav class="grid grid-flow-col gap-6">
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-github text-2xl"></i>
            </a>
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-twitter text-2xl"></i>
            </a>
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-facebook text-2xl"></i>
            </a>
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-youtube text-2xl"></i>
            </a>
        </nav> -->

        <!-- Links -->
        <nav>
            <div class="flex flex-wrap justify-center gap-y-2 gap-x-6 text-lg">
                <a href={`${basePath}/sobre-atipico-social`} class="link link-hover">Sobre Atípico Social</a>
                <a href={`${basePath}/info`} class="link link-hover">Aviso</a>
                <a href={`${basePath}/lugares`} class="link link-hover">Lugares</a>
                <a href={`${basePath}/contacto`} class="link link-hover">Contáctanos</a>
            </div>
        </nav>
    </div>

    <!-- Brand -->
    <aside class="bg-blue-950 text-white py-4 px-8 w-full flex gap-2 flex-wrap justify-between items-center text-sm">
        <p class="text-xl flex items-center gap-2">
            <Logo className="size-16" loading={"lazy"} />
            <span>Atípico Social</span>
            <span class="font-mono text-sm text-teal-300">1.0.0</span>
        </p>
        <p>Copyright © 2024 - Developed by J.P. Esparza & EsparX Digital</p>
    </aside>
</footer>