---
import Logo from "../generics/Logo.astro";
---
<footer class="text-base-content ">
    <div class="footer footer-center p-10 bg-indigo-100">

        <!-- Socials -->
<!--         <nav class="grid grid-flow-col gap-6">
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-github text-2xl"></i>
            </a>
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-twitter text-2xl"></i>
            </a>
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-facebook text-2xl"></i>
            </a>
            <a class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-youtube text-2xl"></i>
            </a>
        </nav> -->

        <!-- Links -->
        <nav>
            <div class="flex flex-wrap justify-center gap-y-2 gap-x-6 text-lg">
                <a href="/contacto" class="link link-hover">Contáctanos</a>
                <a href="" class="link link-hover">Sobre Atípico Social</a>
                <a href="" class="link link-hover">Disclaimer</a>
                <a href="/lugares" class="link link-hover">Lugares</a>
            </div>
        </nav>
    </div>

    <!-- Brand -->
    <aside class="bg-blue-200 py-4 px-8 w-full flex gap-2 flex-wrap justify-between items-center text-sm">
        <p class="text-xl flex items-center gap-2">
            <Logo className="size-16" />
            <span>Atípico Social</span>
        </p>
        <p>Copyright © 2024 - Developed by J.P. Esparza & EsparX Digital</p>
    </aside>
</footer>