---
import { Image } from "astro:assets";
import { MdInfo, MdLogoDev } from "react-icons/md";
import pilot from "/public/pilot.png";
import pondering from "/public/pondering.png";
import Layout from "../layouts/Layout.astro";
import Button from "../components/generics/Button.astro";
import { FadeUpDiv } from "../components/react/FadeUpDiv";
---

<Layout title="Bienvenidos | Atípico Social">
  <section
    class="w-full flex flex-col md:flex-row gap-5 items-center md:justify-around px-4 py-20"
    id="inicio"
  >
    <div
      class="max-w-md bg-gradient-to-tr from-violet-500 to-teal-300 rounded-lg md:shadow-md glass"
    >
      <FadeUpDiv client:load>
        <Image
          src={pilot}
          alt="Imagen de piloto mirando de costado"
          width={600}
          height={600}
          class="object-fill w-fulL"
          id="img1"
          loading="eager"
        />
      </FadeUpDiv>
    </div>

    <div class="max-w-md bg-base-100 relative -top-20 md:static">


        <span class="text-pink-700 text-sm"
          ><MdLogoDev className="inline" />Aún en desarrollo</span
        >
        <p class="text-pink-600 text-sm">
          <MdInfo className="inline" /> Por el momento sólo Lomas de Zamora y Lanús
        </p>
        <h1
          class="text-5xl md:text-6xl tracking-tighter font-bold text-indigo-900"
          data-aos="fade-in"
          data-aos-duration={800}
        >
          Bienvenidos
        </h1>
        <div class="divider"></div>
        <p class="py-6 text-xl text-gray-600 font-normal">
          <span class="italic">"Atípico Social"</span> es una plataforma dedicada
          a promover la integración social de personas neurodivergentes, especialmente
          aquellas en el espectro<span class="text-emerald-600"> autista.</span>
          Agrupamos diversos espacios y recursos que ofrecen ambientes amigables.
          Nuestro objetivo es facilitar la búsqueda de lugares inclusivos y accesibles.
        </p>
        <Button
          type="btn"
          path="/#atipico-social"
          className=" shadow-lg bg-violet-400">+ Info</Button
        >

    </div>
  </section>

  <section
    class="w-full flex flex-col md:flex-row-reverse items-center md:justify-around px-4 py-40"
    id="atipico-social"
    data-aos="fade-up"
    data-aos-duration={800}
  >
    <div
      class="max-w-md bg-gradient-to-tr from-violet-500 to-teal-300 rounded-lg md:shadow-md glass"
    >
      <Image
        src={pondering}
        width={600}
        height={600}
        alt="Imagen de chico mirando hacia arriba"
        class="object-fill"
        loading="eager"
      />
    </div>

    <div class="max-w-md bg-base-100 relative -top-20 md:static">
      <h1
        class="text-5xl md:text-6xl tracking-tighter font-bold text-indigo-900 break-words"
        data-aos="fade-in"
        data-aos-duration={800}
      >
        Atípico + Social
      </h1>
      <div class="divider"></div>
      <p class="py-6 text-xl text-gray-600 font-normal">
        Llamamos "atípico" a aquello que se sale de lo "común", aquello
        diferente, aquello especial que aporta una perspectiva única. Social
        representa la integración y la conexión humana. Acá, lo atípico se
        celebra y se integra en lo social, construyendo puentes de entendimiento
        y empatía.
      </p>
      <a
        href="/#preguntas-frecuentes"
        class="btn btn-ghost shadow-lg bg-violet-400">Preguntas frecuentes</a
      >
    </div>
  </section>

  <section
    class="w-full grid grid-cols-1 md:grid-cols-2 gap-5 px-4 py-40"
    id="preguntas-frecuentes"
    data-aos="fade-up"
    data-aos-duration={800}
  >
    <h1
      class="text-5xl md:text-6xl tracking-tighter font-bold text-indigo-900 break-words md:col-span-2 lg:ps-32 text-center md:text-left"
      data-aos="fade-in"
      data-aos-duration={1200}
    >
      Preguntas
      <div class="divider"></div>
    </h1>
    <article class="max-w-md mx-auto">
      <h3 class="text-xl">¿Qué es "Atípico Social"?</h3>
      <p class="mb-5">
        "Atípico Social" es una plataforma que agrupa lugares amigables y
        recursos para personas neurodivergentes, enfocándose en reducir ruidos y
        luces, y en ser tolerantes con comportamientos como el deambular.
      </p>

      <h3 class="text-xl">¿A quién está dirigida la plataforma?</h3>
      <p class="mb-5">
        Principalmente a personas en el espectro autista, pero también es
        inclusiva para otras neurodivergencias.
      </p>

      <h3 class="text-xl">
        ¿Cómo se seleccionan los lugares que aparecen en la plataforma?
      </h3>
      <p class="mb-5">
        Los lugares son seleccionados por su capacidad de ofrecer ambientes
        adaptados, con reducción de ruidos y luces, y su tolerancia hacia
        comportamientos neurodivergentes.
      </p>

      <h3 class="text-xl">
        ¿Qué tipo de lugares puedo encontrar en "Atípico Social"?
      </h3>
      <p class="mb-5">
        Puedes encontrar lugares de entretenimiento, recreación, servicios
        especiales y espacios comunes adaptados para neurodivergentes.
      </p>

      <h3 class="text-xl">
        ¿Cómo puedo sugerir un lugar para incluir en la plataforma?
      </h3>
      <p class="mb-5">
        Puedes sugerir un lugar a través de nuestro formulario de contacto,
        proporcionando detalles sobre cómo es amigable para personas
        neurodivergentes.
      </p>
    </article>
    <article class="max-w-md mx-auto">
      <h3 class="text-xl">
        ¿Hay algún costo asociado con el uso de la plataforma?
      </h3>
      <p class="mb-5">
        No, el uso de la plataforma es completamente gratuito para los usuarios
        que buscan información.
      </p>

      <h3 class="text-xl">
        ¿Cómo garantizan que los lugares listados sean realmente amigables para
        neurodivergentes?
      </h3>
      <p class="mb-5">
        Trabajamos en colaboración con expertos y la comunidad neurodivergente
        para evaluar y validar los espacios antes de incluirlos en la
        plataforma.
      </p>

      <h3 class="text-xl">
        ¿Puedo dejar comentarios o reseñas sobre los lugares visitados?
      </h3>
      <p class="mb-5">
        Sí, los usuarios pueden dejar comentarios y reseñas para ayudar a otros
        a conocer más sobre la accesibilidad y adaptación de los lugares.
      </p>

      <h3 class="text-xl">
        ¿Qué hacer si encuentro un problema en uno de los lugares listados?
      </h3>
      <p class="mb-5">
        Te animamos a reportar cualquier problema a través de nuestro sistema de
        feedback para que podamos abordar y resolver la situación.
      </p>

      <h3 class="text-xl">
        ¿Cómo puedo involucrarme o apoyar la misión de "Atípico Social"?
      </h3>
      <p class="mb-5">
        Puedes involucrarte compartiendo la plataforma, sugiriendo nuevos
        lugares, o colaborando con nosotros en iniciativas de inclusión y
        sensibilización.
      </p>
    </article>
  </section>
</Layout>
