.filtros-nav-container {
    transition: all 0.3s ease; /* Transición suave al deslizarse desde la izquierda */
    position:sticky !important;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .filtros-nav-container-mobile {
    transition: all 0.3s ease; /* Transición suave al deslizarse desde la izquierda */
    height: 80vh;
  }