---
import MetaGlobal from "../metadata/MetaGlobal.astro";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/forNavigation/Header.astro";
import Footer from "../components/generics/Footer.astro";
import SideMenu from "../components/forNavigation/SideMenu.astro";

/* import "aos/dist/aos.css"; */
import "@fontsource/londrina-solid/100.css";
import "@fontsource/londrina-solid/300.css";
import "@fontsource/londrina-solid/400.css";
import "@fontsource/londrina-solid/900.css";

import "@fontsource-variable/gluten";
import "@fontsource-variable/rubik";
import "@fontsource-variable/inter-tight";

import "@fontsource-variable/unbounded";
import "../assets/styles/global.css";


interface Props {
  title: string;
}


const { title } = Astro.props;
---

<!doctype html>
<html lang="es">

  <head>
    <!-- Meta -->
    <MetaGlobal/>
    <ViewTransitions />
    <!-- Title -->
    <title>{title}</title>
  </head>

  <body class="">
    <!-- Navigation -->
    <Header />

    <SideMenu className="z-[70]" />
    <!-- Main Content -->
    <main class="">
      <slot />
    </main>

    <Footer/>

  </body>
</html>
