---
import Layout from "./Layout.astro";
import CategoriesBtns from "../components/forNavigation/CategoriesBtns.astro";

interface Props {
  title?: string;
  bannerTitle?:string;
  currentPage?:string;
}

const { title, bannerTitle, currentPage } = Astro.props;
---

<Layout title={ title || "Lugares | Atípico Social"}>
  <section class="px-5 py-2">
    <CategoriesBtns currentPage={currentPage} />
   </section>
   <section class="px-5 py-2">
      <slot />
    </section>
</Layout>